#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.site-layout-background {
  background: #f7f7f7;
  display: flex;
}
.title {
  flex: 10;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.title:hover {
  transition: all 0.5s;
  font-size: 25px;
}
