.contain {
  width: 80%;
  margin: 0 auto;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.Carousel {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  height: 230px;
  width: 30.44vw;
  border-radius: 10px;
  overflow: hidden;
}
.Carousel img {
  height: 230px;
  width: 41.44vw;
}
.hot_test {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  width: 27vw ;
  height: 230px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px 10px;
  justify-content: space-around;
}
.hot_test .hot_test_title {
  display: flex;
  align-items: center;
  color: #3F9497;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.hot_test .hot_test_item {
  padding: 0 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}
.hot_test .hot_test_item .hot_test_item_title {
  flex: 1;
  font-size: 15px;
}
.hot_test .hot_test_item .hot_test_item_author {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
  height: 70%;
  font-size: 12px;
}
.hot-article {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
.hot-article .hot-article-title {
  color: #3F9497;
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.hot-article .hot-article-items {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.hot-article .hot-article-items .hot-article-item {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  width: 30%;
  height: 280px;
  border: 1px solid #3F9497;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.hot-article .hot-article-items .hot-article-item:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}
.hot-article .hot-article-items .hot-article-item .hot-article-item-title {
  color: #3F9497;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #3F9497;
}
.hot-article .hot-article-items .hot-article-item .hot-article-item-main {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  padding: 5px;
  width: 90%;
  height: 220px;
  margin: 10px;
  font-size: 15px;
  border: 1px solid #3F9497;
  box-sizing: border-box;
}
.race {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.race .race_title {
  height: 40px;
  font-size: 16px;
  color: #3F9497;
  display: flex;
  justify-content: center;
  align-items: center;
}
.race .race_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.race .race_user .race_user_item {
  margin-bottom: 10px;
  height: 40px;
  width: 80%;
  border: 1px solid #ccc;
  display: flex;
}
.race .race_user .race_user_item .race_user_item_name {
  flex: 1;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.race .race_user .race_user_item .race_user_item_mark {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.all_test {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px 0px;
  margin: 15px 0 ;
  height: 230px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px 10px;
  justify-content: space-around;
}
.all_test .all_test_title {
  display: flex;
  align-items: center;
  color: #3F9497;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.all_test .all_test_item {
  padding: 0 15px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}
.all_test .all_test_item .all_test_item_title {
  flex: 4;
  font-size: 15px;
}
.all_test .all_test_item .all_test_item_author {
  flex: 2;
  display: flex;
  padding-left: 15px;
  align-items: center;
  border-left: 1px solid #ccc;
  height: 70%;
  font-size: 12px;
}
/*# sourceMappingURL=./Index.css.map */