.btn_warpper{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    .btn{
        margin-left: 10px;
    }
}
.header{
    height: 50px;
    font-size: 27px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}