
.header{
    position: relative;
    height: 10vh;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 20px;
    .header_title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #687575;
    }
    .btn_warpper{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        // justify-self: start;
        display: flex;
        // justify-content: flex-end;
        font-size: 16px;
        .btn_item{
            margin-left: 10px;
            border: 3px solid #687575;
            color: #687575;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}