.body{
  width: 100vw;
  height: 100vh;
  
}
@font-face {
  font-family: 'iconfont';  /* project id 2121800 */
  src: url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.eot');
  src: url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.woff') format('woff'),
  url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_2121800_mhgd1ucwfaj.svg#iconfont') format('svg');
}
